<div id="album" class="album" data-album= "{{album}}" data-artist= "{{artist}}" data-genre= "{{genre}}">
  <img src= "{{url}}" class="album-pic">
    <div id="songs" class="hidden">
      Songs go here
    </div>
</div>
