header {
    display: flex;
    height: 150px;
    background-color: rgb(20, 20, 20);
    color: rgb(233,233,233);
    margin: 0 0 0 0;
}

header h1 {
      font-family: Arial;
      margin: 20px;
}

body {
    margin: 0 0 0 0;
}

.content {
    display: flex;
}
#topbar {
    display: inline-flex;
    font-family: Arial;
    width:100%;
    background-color: whitesmoke;
    justify-content: center;
}

#topbar div {
    float: left;
    margin: 5px 100px 5px 5px;
}

.album-pic {
    height: 250px;
    width: 250px;
    box-shadow: 5px 5px lightgrey;

}

#albums {
    display: flex;
}

#album {
    margin: 10px 10px 10px 10px;
}

.album {
    display: inline-flex;
    margin: 10px 10px 10px 10px;
}

#add-album{
    float: right;
    margin: 5px 5px 5px 5px;
    height:100vh;
}

#add-button {
    align-items: center;
}
#update-button {
    margin: 5px 5px 5px 5px;
}

/* .hidden {
    display:none;
} */