header {
    display: flex;
    height: 150px;
    background-color: white;
    color: #dcbd8e;
    margin: 0 0 0 0;
}

header h1 { /*Title of the website... Bookcase Album */
    font-family: Arial;
    font-size: 50px;
    margin: 25px;
    margin-top: 50px;
}

body { /* Include background image of a shelf. Repeats and follows when the user scrolls */
    margin: 0 0 0 0;
    background-image: url("https://www.socaldrivingschool.com/image/desk-and-shelves-desktop-wallpaper-wallpapersafari-bookshelves-with-wallpaper-for-background_1568552983_680x680_75c0496e38528f03.jpg");
    background-size: 100vh;
    background-repeat: repeat;
    background-attachment: scroll;
}

.content { /* Albums, add album image */
    display: flex;
    padding-top: 25px;
}

#topbar { /*Navigation bar that updates the filters of the albums */
    display: inline-flex;
    font-family: Arial;
    width: 100%;
    background-color: #dcbd8e; /* else: whitesmoke */
    justify-content: center;
}

#topbar div {
  float: left;
  margin: 10px 10px 10px 10px;
}

#update-button { /* Update button in the top bar */
  position: relative;
  top: 5px;
  padding-bottom: 5px;
}

.album-pic {
    height: 150px;
    width: 150px;
    border-radius: 2px;
    box-shadow: 10px 10px 10px black;

}

#albums { /* Group of album images. */
    display: flex;
    flex-wrap: wrap;
}

#album { /* Individual album ID. */
    margin: 10px 10px 50px 10px;
}

.album {
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px 10px 10px;
}

.album-pic:hover { /* Enlarges the album picture when hovered over. */
  height: 175px;
  width: auto;

}

#add-album { /* modal */
    float: right;
    /* margin: 5px 5px 5px 5px;*/
    max-height: 75%;
    max-width: 75%;
}

#add-album div { /* inside of the add-album modal.... text include */
    font-family: Arial;
    margin: 10px 10px 10px 10px;

}

.album-add img { /* add image button */
  position: relative;
  top: 10px;
  margin-left: 10px;
  max-height: 150px;
  border-radius: 2px;
  box-shadow: 10px 10px 10px black;
}

.action-button {
    margin: 5px 5px 5px 5px;
    padding: 3px 3px 3px 3px;
    background-color: #89642a; /* light background */
    color: #dcbd8e; /* daker font color */
    border-radius: 5px;
    font-weight: bold;
    border-color: #89642a;
    border-style: solid;
}

.action-button:hover { /* Inverts the colors of button on hover */
  background-color: #dcbd8e;
  color: #89642a;
}

.close {
    margin: 5px 5px 5px 5px;
    padding: 3px 3px 3px 3px;
    background-color: #89642a; /* light background */
    color: #dcbd8e; /* daker font color */
    border-radius: 5px;
    font-weight: bold;
    border-color: #89642a;
    border-style: solid;
}

.close:hover { /* Inverts the colors of the "close" button on hover */
  background-color: #dcbd8e;
  color: #89642a;
}

label {
  font-weight: bold;
  color: #89642a;
}

input {
  border: 0;
  border-radius: 3px;
  outline: 0;
  padding-left: 10px;
  padding: 5px 0px 5px 10px;
  background: #89642a;
  font-weight: bold;
  color: #dcbd8e;
}

select {
  background: #89642a;
  color: #dcbd8e;
}

option {
  /* background: #bfbfbf; */
  background: #89642a;
}

option:hover {
  background: #808080;
}

#genre-select {
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 10px;
  font-weight: bold;
}

aside {
  position: relative;
  top: 6px;
  background: #d9d9d9;
  border-radius: 3px;
  max-width: 250px;
  max-height: 250px;
}

aside input {
  padding: 3px 40px 3px 3px;
}

#add-button {
  float: left;
  margin-left: 10px;
  padding: 3px 36px 3px 36px;
}

#close-button {
  float: right;
  margin-right: 10px;
  padding: 3px 36px 3px 36px;
}

.hidden {
    display:none;
}

/* 404 cs */

.error-page {
  color: gray;
  text-align: center;
  font-size: xx-large;
}
.error-page h4 {
  font-weight: lighter;
}
