<!DOCTYPE html>
<html>
    <head>
        <link href= "style.css" rel="stylesheet">
        <script src="index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <header>
            <div>
                <img src="imgs/picture.jpg">
            </div>
        </header>

    {{{body}}}

    </body>
</html>
