<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <script src="index.js" charset="utf-8" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js" charset="utf-8" defer></script>
        <script src="albumDivTemplate.js" charset="utf-8" defer></script>
    </head>

    <header>
        <div>
            <img src="">
        </div>

        <h1>Song Shelf</h1>

    </header>

    {{{body}}}


</html>
