<main>
    <aside id="picture-addendum">
        <h2>Add a new picture</h2>

        <div class="addendum-url-container">
            <label for="addendum-url" class="addendum-label">URL</label>
            <div class="addendum-input">
                <input type="text" name="addendum-url" id="addendum-url" class="addendum-input" placeholder ="url">
            </div>
        </div>
        <div class="addendum-name-container">
            <label for="addendum-name" class="addendum-label">Username</label>
            <div class="addendum-input">
                <input type="text" name="addendum-name" id="addendum-name" class='addendum-input' placeholder="name">
            </div>
        </div>
        <div class="addendum-desc-container">
                <label for="addendum-desc" class="addendum-label">Desc</label>
                <div class="addendum-desc">
                    <input type="text" name="addendum-desc" id="addendum-desc" class='addendum-input' placeholder="say something">
                </div>
            </div>

        <div class="addendum-color-container">
            <label for="addendum-color" class="addendum-label">Color</label>
            <div class="addendum-color">
                <select id="addendum-color-select" class="addendum-input" name="addendum-color">
                    <option selected value="">White</option>
                    <option>Dark Blue</option>
                    <option>Blue</option>
                    <option>Light Blue</option>
                    <option>Dark Green</option>
                    <option>Green</option>
                    <option>Light Green</option>
                    <option>Yellow</option>
                    <option>Orange</option>
                    <option>Red</option>
                </select>
            </div>
        </div>
        <button id="addendum-button" class="addendum-action">Add Item</button>
    </aside>
    <section id="pictures">
        <div id="post" data-color="Blue" data-url='imgs/blue_img.jpg' data-user="admin" data-desc='a blue image'>
            <img src="imgs/blue_img.jpg" class="post-pic">
        </div>
        <div id="post" data-color="Green" data-url='imgs/green_img.jpg' data-user="admin" data-desc='a green image'>
            <img src="imgs/green_img.jpg" class="post-pic">
        </div>
        <div id="post" data-color="Yellow" data-url='imgs/yellow_img.jpg' data-user="admin" data-desc='a yellow image'>
            <img src="imgs/yellow_img.jpg" class="post-pic">
        </div>
        <div id="post" data-color="Orange" data-url='imgs/orange_img.jpg' data-user="admin" data-desc='a orange image'>
            <img src="imgs/orange_img.jpg" class="post-pic">
        </div>
        <div id="post" data-color="Red" data-url='imgs/red_img.jpg' data-user="admin" data-desc='a red image'>
            <img src="imgs/red_img.jpg" class="post-pic">
        </div>
    </section>
</main>

<div id='backdrop' class='hidden'></div>
<div id='picture-click' class='hidden'>
    <img id='pop-up-img'>
    <aside id="pic-info">
        <button id='close'>Close</button>
        <div id='add-URL' class='sub-info'>URL: </div>
        <div id='add-username' class='sub-info'>Username: </div>
        <div id='add-desc' class='sub-info'>Description: </div>

    </aside>
</div>
